<h1>Pizza {{name}}</h1>
{{#if price}}
<h2>Price: {{price}}</h2>
{{else}}
<h2>Price upon request</h2>
{{/if}}
<img src="/images/{{imageFile}}" alt="{{imgAlt}}" width="500" />
<br>
<br>
    {{#each ingredients}}
    <li>{{this}}</li>
    {{/each}}
<br>
<br>